<!DOCTYPE html>
<html lang="en">

  <head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Plottable CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plottable.js/3.8.3/plottable.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',  filename = 'css/1-col-portfolio.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Baseball Stats</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#chart-1">Performance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#chart-2">Batting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#chart-3">Pitching</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 id="top" class="my-4">Baseball Stats</h1>

      <!-- Project One -->

      <div class="row">
        <h1 id="section-one">Historical Performance</h1>
        <select id="selTeam" onchange="teamChanged(this.value)"></select>
        <br>
        <div class="col-md-12">
            <a href="#">
            <div id = "chart-1"></div>
            </a>
        </div>
      </div>

      <br>

      <!-- Project Two -->
      <div class="row">
        <h1 id="section-two">Batting Leaders</h1>
        <select id="selBatStat" onchange="batChanged(this.value)"></select>
        <div class="col-md-12">
          <a href = "#">
            <div id="chart-2"></div>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <h1 id="section-three">Pitching Leaders</h1>
        <select id="selPitchStat" onchange="pitchChanged(this.value)"></select>
        <div class="col-md-12">
          <a href = "#">
            <div id="chart-3"></div>
          </a>
        </div>
      </div>
      <!-- /.row -->

      <hr>


    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <a style="text-decoration:none; color:#fff" href="#top">
          <p class="m-0 text-center text-white">Jump To Top</p>
        </a>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Javascript to create charts.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/plottable.js/3.8.3/plottable.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>

</html>
